
embabel-agent-api/src/main/resources/mcp/**

/target/**
*/target/**
*/*/target/**
*/*/*/target/**

.idea/**
*.iml
*.iws
*.ipr
out/

.claude

**/*.log
.envrc
.env.DS_Store
.env
.envrc

### BROKK'S CONFIGURATION ###
.brokk/**
/.brokk/workspace.properties
/.brokk/sessions/
/.brokk/dependencies/
/.brokk/history.zip
!AGENTS.md
!.brokk/style.md
!.brokk/review.md
!.brokk/project.properties
